/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.ionicon {
  stroke: currentColor;
}

.icon-inner,
.ionicon,
svg {
  display: block;
  height: 100%;
  width: 100%;
}

.ionicon-stroke-width {
  stroke-width: 2em;
}
.ionicon-fill-none {
  fill: none;
}


@screen sm {
  .messages {
    height: calc(100vh - (56px + 60px));
  }
}
.messages {
  min-height: calc(100vh - (56px + 146px));
}