// Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$blue: rgb(88, 88, 252);

$light-orange: rgb(255, 218, 181);
$orange: rgb(252, 170, 88);
$dark-orange: rgb(239, 148, 57);

// posible variables https://bulma.io/documentation/overview/variables/
$primary: $orange;
$secondary: $dark-orange;
// $link:
// $info: $light-orange;
// $success:
// $warning:
// $danger:
// $dark:
// $text:

$secondary-invert: findColorInvert($secondary) !default;
$custom-colors: (
  'secondary': (
    $secondary,
    $secondary-invert,
  ),
);

// calculates "derived" variables
@import '~bulma/sass/utilities/derived-variables';

$breadcrumb-item-color: $primary;

$menu-item-active-background-color: $white;
$menu-item-active-color: $link;

// squared corners
// $radius-small: 0;
// $radius-large: 0;
// $control-radius: 0;
// $radius-rounded: 0;

// modal card
// $modal-card-spacing: 0%;
// $modal-content-margin-mobile: 0;

// Import the rest of Bulma
@import '~bulma/bulma';

// columns fix hmmmmmmmmm?
.columns {
  margin: 0 !important;
}

.dropdown.is-narrow > .dropdown-menu {
  min-width: unset;

  a.dropdown-item {
    padding-right: 1rem;
  }
}

// .modal > .modal-card {
//   margin: 0;
//   height: 100%;
//   max-height: unset;
// }
// @media screen and (min-width: 769px), print {
.modal-content,
.modal-card {
  // max-height: unset;
  height: 100%;
}
// }

.login-page .logo {
  margin: auto;

  > img {
    height: 128px;
    width: auto;
    margin: auto;
  }
}

@media screen {
  .has-navbar-fixed-top {
    margin-top: 3.5rem;
  }

  img.print-cover.print-page {
    display: none;
  }
}

@media print {
  .is-hidden-print {
    display: none;
  }

  @page {
    margin-top: 1in;
    margin-bottom: 1in;
  }

  @page :first {
    margin: 0;
  }

  .print-page {
    page-break-inside: avoid;
    page-break-after: always;

    padding-left: 1in;
    padding-right: 1in;
  }

  img.print-cover.print-page {
    padding: 0;
  }

  .box {
    page-break-inside: avoid;
  }
}

$navbar-top-height: 0.25rem;
nav.navbar {
  border-top: $navbar-top-height solid;
  @each $name, $values in $colors {
    &.is-#{$name} {
      border-top-color: nth($values, 1); // inherits color
    }
    &.is-top-#{$name} {
      border-top-color: nth($values, 1) !important;
    }
  }

  > .shadow {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
    height: 8px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
  }
}

main,
.hero.is-fullheight {
  // min-height: 100vh;
  // main content is full height - footer height
  min-height: calc(100vh - #{$navbar-height + $navbar-top-height});
  // OR
  // main content is full height and footer is hidden until scroll
  // min-height: 100vh;
}

.buy-main {
  margin-top: 1.5rem;
}

@include from($tablet) {
  .buy-main > .columns {
    max-height: calc(100vh - 10.5rem);

    > .column.scrolls {
      overflow-y: auto;
    }
  }
}

label.radio > input[type='radio'] {
  margin-right: 0.4rem;
}

.modal-card-body {
  flex-grow: unset;
}

.dropdown-menu[id^='dropdown-menu-link-'] {
  min-width: 20rem;

  > .dropdown-content {
    padding: 0;
    box-shadow: none;

    > .textarea.dropdown-item {
      resize: none;
    }
  }
}

.radio-group {
  @extend .columns;
  margin: 0;

  > .radio {
    @extend .column;
    margin: 0;

    border: 1px $grey-lighter solid;
    border-radius: 0;

    + .radio {
      border-top-width: 0;
    }

    &:first-of-type {
      border-top-left-radius: $control-radius;
      border-top-right-radius: $control-radius;
    }
    &:last-of-type {
      border-bottom-left-radius: $control-radius;
      border-bottom-right-radius: $control-radius;
    }

    @include from($tablet) {
      + .radio {
        border-top-width: 1px;
        border-left-width: 0;
      }

      &:first-of-type {
        border-top-left-radius: $control-radius;
        border-top-right-radius: 0;
        border-bottom-left-radius: $control-radius;
      }
      &:last-of-type {
        border-top-right-radius: $control-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: $control-radius;
      }
    }
  }
}

.content table {
  td,
  th {
    vertical-align: middle;
  }
}

#photo-placeholder {
  $size: 128px/ ($body-size + 1.5);
  width: 128px;
  height: 128px;
  font-size: $size * 1rem;
}

a.is-disabled {
  pointer-events: none;
  cursor: default;
}
